= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :subtitle
    = f.text_field :subtitle
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :user_name
    = f.text_field :user_name
  .field
    = f.label :bio
    = f.text_area :bio
  .field
    = f.label :birthdate
    = f.date_select(:birthdate, :start_year => 1940, :end_year => Date.today.year - 10)
  .field
    = f.label :image
    = f.file_field :profile_pic 
  %hr
  %h2 User Hobbies
  - 2.times do 
    = f.fields_for :hobbies do |h|
      .field
        = h.label :category
        = h.select :category, [:Musica, :Lectoescritura, :Aventura, :Fitness, :Coleccionismo, :Entretenimiento, :Construccion, :Gastronomia]
        = h.label :description
        = h.text_area :description
      .field
        = h.label :preference
        = h.range_field :preference, min:0, max:5, step:1
  %hr 
  %h2 Certifications
  .field
    = f.fields_for :certifications do |c|
      = c.label :name
      = c.text_field :name
      = c.label :url
      = c.file_field :url
      -# = c.label :id
      -# = c.text_field :user_id  


  %hr
  .actions
    = f.submit 'Saveee'
