%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Lastname
      %th Subtitle
      %th Email
      %th User name
      %th Bio
      %th Birthdate
      %th Photo
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.lastname
        %td= user.subtitle
        %td= user.email
        %td= user.user_name
        %td= user.bio
        %td= user.birthdate
        %td= link_to 'View Profile',  user.profile_pic
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
