%p#notice= notice
.col
  %h1 User
  %p
    - if !@user.profile_pic.attached?
      = link_to image_tag('default.jpg')
    - else
      = link_to image_tag(@user.profile_pic, size: "200x250", alt: 'no se pudo mostrar' )
  %p
    %b Name:
    = @user.name
  %p
    %b Lastname:
    = @user.lastname
  %p
    %b Subtitle:
    = @user.subtitle
  %p
    %b Email:
    = @user.email
  %p
    %b User name:
    = @user.user_name
  %p
    %b Bio:
    = @user.bio
  %p
    %b Age:
    = @age
  %hr
  %h1 Hobbies
  - @user.hobbies.each do |x|
    %p
      %b Category:
      = x.category
    %p
      %b Description:
      = x.description
    %p
      %b Preference:
      = x.preference
  %hr
  %h1 Certification
  - @user.certifications.each do |c|
    %p
      %b Name:
      = c.name
    %p
      %p Certification:
      - if !c.url.attached?
        No Certification
      - else 
        = link_to  'View Certification', c.url, class: 'btn btn-primary'
  -# = link_to 'cert'  
  %hr
  = link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary'
  \|
  = link_to 'Back', users_path, class: 'btn btn-primary'
