= form_for @hobby do |f|
  - if @hobby.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hobby.errors.count, "error")} prohibited this hobby from being saved:"
      %ul
        - @hobby.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :preference
    = f.number_field(:preference, in: 1..5)
  .field
    = f.label :category
    = f.select :category, Hobby.categories.keys.map {|cat| [cat.titleize, cat]}
  

  .actions
    = f.submit 'Save'
