%h1 Listing hobbies

%table
  %thead
    %tr
      %th Description
      %th Preference
      %th Category
      %th
      %th
      %th

  %tbody
    - @hobbies.each do |hobby|
      %tr
        %td= hobby.description
        %td= hobby.preference
        %td= hobby.category
        %td= link_to 'Show', hobby
        %td= link_to 'Edit', edit_hobby_path(hobby)
        %td= link_to 'Destroy', hobby, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Hobby', new_hobby_path
