%p#notice= notice

  
%p
  %b Description:
  = @hobby.description
%p
  %b Preference:
  = @hobby.preference
%p
  %b Category:
  = @hobby.category

= link_to 'Edit', edit_hobby_path(@hobby)
\|
= link_to 'Back', hobbies_path
