= form_for @certification do |f|
  - if @certification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@certification.errors.count, "error")} prohibited this certification from being saved:"
      %ul
        - @certification.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_area :url
    -# .field
    -# = f.label :id
    -# = f.text_area :user_id
  

  .actions
    = f.submit 'Save'
