%h1 Listing certifications

%table
  %thead
    %tr
      %th Name
      %th certificado
      %th
      %th
      %th

  %tbody
    - @certifications.each do |certification|
      %tr
        %td= certification.name
        %td= certification.name
        %td= link_to 'Show'
        %td= link_to 'Edit'
        %td= link_to 'Destroy', certification, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New cert', new_certification_path
