// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    color: white;
    text-align: center;
    background-color: brown
}

.wrapper .row div {
border: 1px solid silver;
}

.wrapper {
margin-top: 30px;
}
  